
<h2>About Music Hall</h2>


<section id='about_text'>
    <p>
        This Webapp was completed while I was studying General Assembly's Software Engineering Immersive course. Music Hall lets users login/signup, search songs and artists, create their own playlists, edit the playlists, and delete them. For security all user passwords are encrypted before they get sent to the database and no PSQL inputs the user can make are able to alter the database other than whats intended.
    </p>

    <p>
        I've used HTML, CSS, Ruby, Sinatra and SQL to create the site, along with an API to pull in songs, artists and lists of the top songs being played.
    </p>

    <p>
        I want to give a quick shoutout to my instructors Zara, Alex and Kasun for helping me with this course, and also the class of SEIxr04 for making the 8 hour classes fly by.
    </p>

</section>