<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Hall</title>
  <link rel='stylesheet' href='/css/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <header>
    <h1>Music Hall</h1>

    <nav>
      <a href='/'>Home</a>


      <% if is_logged_in?() %>

          Welcome, <%=current_user[0]["name"]%>

          <form action="/sessions" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Logout">
          </form>

      <% else %>
          <a href="/sign_up">Sign up</a>

          <a href="/login">Login</a>
      <% end %>
      

    </nav>
    
  </header>

  <%= yield %>

</body>
</html>
