<ul id='list_of_songs'>
    <% songs.each do |song| %>
        <li>
        <a href="/display?search=<%=song["track"]["key"]%>" name="my_name"><%=song["track"]["title"]%> - <%=song["track"]["subtitle"]%></a>
        
        </li>
    <%end%>
</ul>
