
<main>
    <section id='image'>

        <img src="<%=cover%>" alt="">

    </section>

    <section id='text'>

    <h2><%=title%></h2>

    <ul>
        <li><span>Artist:</span> <%=artist%></li>
    </ul>

    <button>Add to list</button>

    </section>

</main>


