<h2>Sign Up</h2>

<form action="/sign_up" method="POST">

    <label for="email">
        Email:
    </label>
    <input type="text" name='email'/>

    <label for="name">
        Name:
    </label>
    <input type="text" name='name'/>

    <label for="img_url">
        Profile Picture (Optional):
    </label>
    <input type="text" name='img_url' />

    <label for="password">
        Password:
    </label>
    <input type="password" name='password' />

    <button>Sign Up</button>
    
</form>