<h2>Sign Up</h2>

<section id='sign_up'>
    <form action="/sign_up" method="POST">

        <div id='email'>
            <label for="email">
                Email:
            </label>
            <input type="text" name='email'/>
        </div>

        <div id='name'>
            <label for="name">
                Name:
            </label>
            <input type="text" name='name'/>
        </div>

        <div id='img_url'>
            <label for="img_url">
                Profile Picture (Optional):
            </label>
            <input type="text" name='img_url' />
        </div>

        <div id='password'>
            <label for="password">
                Password:
            </label>
            <input type="password" name='password' />
        </div>
        
        <button>Sign Up</button>
        
    </form>
</section>